{% extends "layout.html" %} {% block title %} Welcome {% endblock %} {% block
body %} {% block body_tag %}
<body class="homepage-bg">
  {% endblock %}
  <div class="container1">
    <div class="subcontainer">
      <div class="heading">
        <h1>Welcome to Odayssey</h1>
        <h1>Your Very Own Digital Diary</h1>
      </div>
      <div class="buttons">
        <a href="/login"><button type="submit">Login</button></a>
        <a href="/register"><button type="submit">Sign Up</button> </a>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
